### experiment setup ###
experiment.model = @TrackEmbedder()
experiment.logging_dir = "experiment_logs"
experiment.random_seed = 42
experiment.num_epochs = 100
experiment.train_samples= 1000
experiment.test_samples = 100
experiment.detector_efficiency = 1.0
experiment.learning_rate = 0.0001
experiment.weight_decay = 1e-2
experiment.distance = %DistanceType.euclidean_distance
experiment.type_of_triplets = %TripletType.semihard
experiment.triplet_margin = 0.1
experiment.hits_normalizer = @ConstraintsNormalizer()
experiment.num_workers = 4
experiment.pin_memory = True
#experiment.resume_from_checkpoint =

### model ###
TrackEmbedder.n_blocks = 2
TrackEmbedder.output_dim = 32

### clustering model ###
clustering_algorithm.module = 'sklearn.cluster'
clustering_algorithm.class_ = 'KMeans'
clustering_algorithm.n_clusters = 40
clustering_algorithm.random_state = 0
clustering_algorithm.n_init = 10

# hits normalizer
ConstraintsNormalizer.x_coord_range = (-851., 851.)
ConstraintsNormalizer.y_coord_range = (-851., 851.)
ConstraintsNormalizer.z_coord_range = (-2386., 2386.)
